body{
  margin: 0;
  padding: 0;
  color: rgb(42, 99, 132) ;
}

.page1{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card{
  width: 500px;
  height: 650px;
  display: flex;
  border: 2px solid rgb(50, 120, 160);
  border-radius: 15px;
  
}
.personIcon{
  width: 200px;
  height: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


}
.gender{
  width: 200px;
 height: 100px;
margin-bottom: 0px;
margin-top: 45px;
   
  
}
.gender h3{
  padding: 0;
margin-bottom: 10px;
}
.genders{
  width: 200px;
  height: 30px;


}

.info{
  display: flex;
  flex-direction: column;
margin: 50px;
}
.age input{
  width: 130px;
  height: 45px;
  border: 1px solid  rgb(84, 176, 215);
  border-radius: 10px;
  font-size: 25px;
  color: rgb(92, 91, 91);
}
.h33{
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}

.submit{
  width: 250px;
  height: 40px;
  position: relative;
}
.zena{
  margin-top: 40px;
}
















