.App {
  text-align: center;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(220, 201, 239); */
}

.card{
  width: 400px;
  height: 200px;
border: 1px solid red;
border-radius: 10px;
justify-content: center;
display: flex;
flex-direction: column;
margin-bottom: 20px;
text-align: left;
padding-left: 30px;
}
.goto{
  text-align: center;
  
}
.allInfo{
  margin-top: 200px;
  text-align: center;
}